<a href="https://colab.research.google.com/github/annakthrnlee/FIFA_World_Cup/blob/lee3/Final_Machine_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Anna: Google Colab Import

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
# Import and read the final merged dataset file
from google.colab import files
 
 
uploaded = files.upload()

Saving Both_Sources_CleanedCombined.csv to Both_Sources_CleanedCombined.csv

In [183]:
# Import and read the dataset
import pandas as pd 
Merged_data_df = pd.read_csv("Both_Sources_CleanedCombined.csv")
Merged_data_df.head()

,Unnamed: 0,match_number,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,tournament,...,home_team_result,short_name,age,dob,height_cm,weight_kg,nationality_name,preferred_foot,body_type,player_traits
0,121946,23365,2022-01-12,Iceland,Uganda,Europe,Africa,62,82,Friendly,...,Draw,B. Sævarsson,36,11/11/84,187,74,Iceland,Right,Lean (185+),NaN
1,121947,23365,2022-01-12,Iceland,Uganda,Europe,Africa,62,82,Friendly,...,Draw,H. Halldórsson,37,4/27/84,193,88,Iceland,Right,Normal (185+),Cautious With Crosses
2,121948,23365,2022-01-12,Iceland,Uganda,Europe,Africa,62,82,Friendly,...,Draw,K. Árnason,38,10/13/82,191,82,Iceland,Right,Lean (185+),"Long Throw-in, Leadership"
3,121949,23365,2022-01-12,Iceland,Uganda,Europe,Africa,62,82,Friendly,...,Draw,B. Bjarnason,33,5/27/88,183,77,Iceland,Right,Normal (170-185),"Long Throw-in, Power Header"
4,121950,23365,2022-01-12,Iceland,Uganda,Europe,Africa,62,82,Friendly,...,Draw,A. Sampsted,23,4/6/98,180,72,Iceland,Right,Lean (170-185),NaN

In [184]:
Merged_data_df.drop(["tournament", "country", "date", "match_number", "short_name", "Unnamed: 0", "home_team", "away_team", "home_team_continent", "away_team_continent", "dob", "player_traits", "home_team_fifa_rank", "away_team_fifa_rank"], axis=1, inplace=True)
Merged_data_df.head()

,home_team_result,age,height_cm,weight_kg,nationality_name,preferred_foot,body_type
0,Draw,36,187,74,Iceland,Right,Lean (185+)
1,Draw,37,193,88,Iceland,Right,Normal (185+)
2,Draw,38,191,82,Iceland,Right,Lean (185+)
3,Draw,33,183,77,Iceland,Right,Normal (170-185)
4,Draw,23,180,72,Iceland,Right,Lean (170-185)

# Bess: Import from Postgres Code

In [ ]:
# Import Password for Database & dependencies
from config import db_password
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Create database connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fifa_world_cup"

In [ ]:
# Create the database engine
engine = create_engine(db_string)

In [ ]:
# Connect to Postgres Database
# dataframe name = pd.read_sql_query('select * from "table_name"',con=engine)
Merged_data_df = pd.read_sql_query('select * from "combined_table"',con=engine)

In [ ]:
Merged_data_df.drop(["date", "match_number", "short_name"], axis=1, inplace=True)

# Anna: Machine Learning Code

In [185]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf

In [186]:
# Determine the number of unique values in each column
Merged_data_df.nunique()

home_team_result     3
age                 23
height_cm           36
weight_kg           40
nationality_name    31
preferred_foot       2
body_type           10
dtype: int64

In [187]:
# Look at age value counts for summary info
Age_counts = Merged_data_df.loc[:, "age"].value_counts()
Age_counts

26    235
28    231
25    228
29    186
23    183
30    178
24    178
22    166
27    159
31    132
21    110
33    107
32     95
34     63
20     53
35     31
19     29
36     29
18     21
38     13
37      5
39      3
17      3
Name: age, dtype: int64

In [188]:
# Look at height value counts for summary info
Height_counts = Merged_data_df.loc[:, "height_cm"].value_counts()
Height_counts

180    181
183    165
188    143
190    137
185    135
178    125
186    110
191    108
175    102
184     98
187     95
177     95
189     94
176     94
182     80
181     69
173     62
192     60
174     59
179     55
170     55
193     54
172     43
196     37
171     33
194     31
169     25
168     23
197     20
195     19
163      7
198      7
199      6
200      4
165      4
167      3
Name: height_cm, dtype: int64

In [189]:
# Look at age value counts for summary info
Weight_counts = Merged_data_df.loc[:, "weight_kg"].value_counts()
Weight_counts

70     175
75     167
76     159
80     151
77     128
82     111
78     108
73      97
72      90
83      89
81      86
84      85
79      82
74      78
85      76
69      71
68      69
88      61
71      59
66      49
86      46
89      45
67      42
87      36
90      33
65      32
64      30
63      29
92      25
95      17
91      17
60      14
61      14
62      14
59      13
93      12
94      11
96      10
100      4
99       3
Name: weight_kg, dtype: int64

In [190]:
# Generate our categorical variable list
home_team_result = Merged_data_df.dtypes.index.tolist()
home_team_result

['home_team_result',
 'age',
 'height_cm',
 'weight_kg',
 'nationality_name',
 'preferred_foot',
 'body_type']

In [191]:
# Check the number of unique values in each column
Merged_data_df[home_team_result].nunique()

home_team_result     3
age                 23
height_cm           36
weight_kg           40
nationality_name    31
preferred_foot       2
body_type           10
dtype: int64

In [192]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(Merged_data_df[home_team_result]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(home_team_result)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,home_team_result_Draw,home_team_result_Lose,home_team_result_Win,age_17,age_18,age_19,age_20,age_21,age_22,age_23,...,body_type_Lean (170-),body_type_Lean (170-185),body_type_Lean (185+),body_type_Normal (170-),body_type_Normal (170-185),body_type_Normal (185+),body_type_Stocky (170-),body_type_Stocky (170-185),body_type_Stocky (185+),body_type_Unique
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [193]:
# Merge one-hot encoded features and drop the originals
Merged_data_df = Merged_data_df.merge(encode_df,left_index=True, right_index=True)
Merged_data_df = Merged_data_df.drop(home_team_result,1)
Merged_data_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,home_team_result_Draw,home_team_result_Lose,home_team_result_Win,age_17,age_18,age_19,age_20,age_21,age_22,age_23,...,body_type_Lean (170-),body_type_Lean (170-185),body_type_Lean (185+),body_type_Normal (170-),body_type_Normal (170-185),body_type_Normal (185+),body_type_Stocky (170-),body_type_Stocky (170-185),body_type_Stocky (185+),body_type_Unique
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [194]:
training_data, testing_data = train_test_split(Merged_data_df, test_size=0.2, random_state=50)

print(f"No. of training examples: {training_data.shape[0]}")
print(f"No. of testing examples: {testing_data.shape[0]}")

No. of training examples: 1950
No. of testing examples: 488

In [201]:
# Split our preprocessed data into our features and target arrays
y = Merged_data_df["home_team_result_Win"].values
X = Merged_data_df.drop(["home_team_result_Win", "home_team_result_Lose", "home_team_result_Draw"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [202]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [203]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 100)               14300

 dense_25 (Dense)            (None, 80)                8080

 dense_26 (Dense)            (None, 10)                810

 dense_27 (Dense)            (None, 1)                 11

=================================================================
Total params: 23,201
Trainable params: 23,201
Non-trainable params: 0
_________________________________________________________________

In [204]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [205]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
58/58 [==============================] - 0s 1ms/step - loss: 0.6873 - accuracy: 0.5410
Epoch 2/100
58/58 [==============================] - 0s 1ms/step - loss: 0.6480 - accuracy: 0.6510
Epoch 3/100
58/58 [==============================] - 0s 1ms/step - loss: 0.5742 - accuracy: 0.6898
Epoch 4/100
58/58 [==============================] - 0s 1ms/step - loss: 0.5408 - accuracy: 0.6997
Epoch 5/100
58/58 [==============================] - 0s 1ms/step - loss: 0.5221 - accuracy: 0.7144
Epoch 6/100
58/58 [==============================] - 0s 2ms/step - loss: 0.5120 - accuracy: 0.7128
Epoch 7/100
58/58 [==============================] - 0s 2ms/step - loss: 0.5128 - accuracy: 0.7177
Epoch 8/100
58/58 [==============================] - 0s 1ms/step - loss: 0.5050 - accuracy: 0.7106
Epoch 9/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4969 - accuracy: 0.7150
Epoch 10/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4982 - accuracy: 0.7144
Epoch 11/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4897 - accuracy: 0.7183
Epoch 12/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4906 - accuracy: 0.7298
Epoch 13/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4872 - accuracy: 0.7276
Epoch 14/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4853 - accuracy: 0.7237
Epoch 15/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4833 - accuracy: 0.7281
Epoch 16/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4837 - accuracy: 0.7259
Epoch 17/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4836 - accuracy: 0.7265
Epoch 18/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4799 - accuracy: 0.7243
Epoch 19/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4802 - accuracy: 0.7210
Epoch 20/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4755 - accuracy: 0.7298
Epoch 21/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4771 - accuracy: 0.7287
Epoch 22/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4747 - accuracy: 0.7216
Epoch 23/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4713 - accuracy: 0.7292
Epoch 24/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4760 - accuracy: 0.7194
Epoch 25/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4758 - accuracy: 0.7210
Epoch 26/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4699 - accuracy: 0.7265
Epoch 27/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4694 - accuracy: 0.7237
Epoch 28/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4664 - accuracy: 0.7265
Epoch 29/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4686 - accuracy: 0.7292
Epoch 30/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4667 - accuracy: 0.7265
Epoch 31/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4692 - accuracy: 0.7298
Epoch 32/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4652 - accuracy: 0.7194
Epoch 33/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4655 - accuracy: 0.7298
Epoch 34/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4652 - accuracy: 0.7265
Epoch 35/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4637 - accuracy: 0.7281
Epoch 36/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4644 - accuracy: 0.7248
Epoch 37/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4630 - accuracy: 0.7281
Epoch 38/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4629 - accuracy: 0.7265
Epoch 39/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4615 - accuracy: 0.7309
Epoch 40/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4606 - accuracy: 0.7276
Epoch 41/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4604 - accuracy: 0.7341
Epoch 42/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4589 - accuracy: 0.7385
Epoch 43/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4588 - accuracy: 0.7298
Epoch 44/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4600 - accuracy: 0.7336
Epoch 45/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4587 - accuracy: 0.7270
Epoch 46/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4568 - accuracy: 0.7205
Epoch 47/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4581 - accuracy: 0.7336
Epoch 48/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4574 - accuracy: 0.7243
Epoch 49/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4569 - accuracy: 0.7188
Epoch 50/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4568 - accuracy: 0.7199
Epoch 51/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4561 - accuracy: 0.7314
Epoch 52/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4601 - accuracy: 0.7237
Epoch 53/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4549 - accuracy: 0.7319
Epoch 54/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4554 - accuracy: 0.7232
Epoch 55/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4544 - accuracy: 0.7243
Epoch 56/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4541 - accuracy: 0.7276
Epoch 57/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4548 - accuracy: 0.7380
Epoch 58/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4537 - accuracy: 0.7319
Epoch 59/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4534 - accuracy: 0.7276
Epoch 60/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4543 - accuracy: 0.7330
Epoch 61/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4524 - accuracy: 0.7270
Epoch 62/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4527 - accuracy: 0.7303
Epoch 63/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4520 - accuracy: 0.7237
Epoch 64/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4534 - accuracy: 0.7374
Epoch 65/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4513 - accuracy: 0.7352
Epoch 66/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4517 - accuracy: 0.7330
Epoch 67/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4528 - accuracy: 0.7309
Epoch 68/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4508 - accuracy: 0.7352
Epoch 69/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4500 - accuracy: 0.7259
Epoch 70/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4497 - accuracy: 0.7347
Epoch 71/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4506 - accuracy: 0.7292
Epoch 72/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4510 - accuracy: 0.7298
Epoch 73/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4499 - accuracy: 0.7309
Epoch 74/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4487 - accuracy: 0.7374
Epoch 75/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4480 - accuracy: 0.7281
Epoch 76/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4485 - accuracy: 0.7270
Epoch 77/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4500 - accuracy: 0.7287
Epoch 78/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4487 - accuracy: 0.7402
Epoch 79/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4492 - accuracy: 0.7281
Epoch 80/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4482 - accuracy: 0.7314
Epoch 81/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4478 - accuracy: 0.7270
Epoch 82/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4486 - accuracy: 0.7232
Epoch 83/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4493 - accuracy: 0.7248
Epoch 84/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4479 - accuracy: 0.7363
Epoch 85/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4470 - accuracy: 0.7270
Epoch 86/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4478 - accuracy: 0.7298
Epoch 87/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4477 - accuracy: 0.7314
Epoch 88/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4475 - accuracy: 0.7369
Epoch 89/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4489 - accuracy: 0.7287
Epoch 90/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4477 - accuracy: 0.7243
Epoch 91/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4473 - accuracy: 0.7374
Epoch 92/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4465 - accuracy: 0.7270
Epoch 93/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4471 - accuracy: 0.7254
Epoch 94/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4459 - accuracy: 0.7243
Epoch 95/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4455 - accuracy: 0.7243
Epoch 96/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4463 - accuracy: 0.7319
Epoch 97/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4462 - accuracy: 0.7298
Epoch 98/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4453 - accuracy: 0.7341
Epoch 99/100
58/58 [==============================] - 0s 2ms/step - loss: 0.4453 - accuracy: 0.7363
Epoch 100/100
58/58 [==============================] - 0s 1ms/step - loss: 0.4459 - accuracy: 0.7298

In [206]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

20/20 - 0s - loss: 1.5220 - accuracy: 0.6000 - 96ms/epoch - 5ms/step
Loss: 1.5219945907592773, Accuracy: 0.6000000238418579

In [207]:
# Now, the machine models accuracy based on age, height, weight, preffered foot, and players body type
# I removed all 'leaky data' which was if the team had won, lost, or had a draw. Prior to making these edits we have a model that had a 100% accuracy score
# This is because the machine was given the answer rather than using players attributes to find one