In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Create database connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fifa_world_cup"

In [3]:
# Create the database engine
engine = create_engine(db_string)

In [4]:
# Test connection to database
# dataframe name = pd.read_sql_query('select * from "table_name"',con=engine)
df = pd.read_sql_query('select * from "matches"',con=engine)

In [5]:
df.head()

,index,match_date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,0,8/8/93,Bolivia,Uruguay,South America,South America,59,22,0,0,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,8/8/93,Brazil,Mexico,South America,North America,8,14,0,0,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,8/8/93,Ecuador,Venezuela,South America,South America,35,94,0,0,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,8/8/93,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,8/8/93,Paraguay,Argentina,South America,South America,67,5,0,0,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN