In [26]:
# GOAL FOR THIS CODE: 
# This code is to clean the dataset (International_Matches.csv) : delete null values, edit date range from 1930 to 2000, and create a basic table for top ranking teams in 2022
# Once cleaned I will complete the necessary tasks on our other dataset (Players_22.csv)
# Finally, I will merge both datasets and create a basic start for our machine learning model

In [27]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
# Import and read International_matches.csv
from google.colab import files
 
 
uploaded = files.upload()

Saving international_matches.csv to international_matches (2).csv

In [29]:
#  Import and read the dataset
import pandas as pd 
Revised_df = pd.read_csv("international_matches.csv")
Revised_df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Check the datatypes of your columns
Revised_df.dtypes

date                              object
home_team                         object
away_team                         object
home_team_continent               object
away_team_continent               object
home_team_fifa_rank                int64
away_team_fifa_rank                int64
home_team_total_fifa_points        int64
away_team_total_fifa_points        int64
home_team_score                    int64
away_team_score                    int64
tournament                        object
city                              object
country                           object
neutral_location                    bool
shoot_out                         object
home_team_result                  object
home_team_goalkeeper_score       float64
away_team_goalkeeper_score       float64
home_team_mean_defense_score     float64
home_team_mean_offense_score     float64
home_team_mean_midfield_score    float64
away_team_mean_defense_score     float64
away_team_mean_offense_score     float64
away_team_mean_midfield_score    float64
dtype: object

In [31]:
# Drop unecessary columns
Revised_df.drop(["shoot_out", "home_team_goalkeeper_score", "away_team_goalkeeper_score", "home_team_mean_defense_score", "home_team_mean_offense_score", "home_team_mean_midfield_score"], axis=1, inplace=True)

In [32]:
# Drop unecessary columns
Revised_df.drop(["away_team_mean_defense_score", "away_team_mean_offense_score", "away_team_mean_midfield_score", "home_team_score", "away_team_score"], axis=1, inplace=True)
Revised_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,tournament,city,country,neutral_location,home_team_result
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,FIFA World Cup qualification,La Paz,Bolivia,False,Win
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,Friendly,Maceió,Brazil,False,Draw
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,FIFA World Cup qualification,Quito,Ecuador,False,Win
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,Friendly,Conakry,Guinea,False,Win
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,FIFA World Cup qualification,Asunción,Paraguay,False,Lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,UEFA Nations League,Chișinău,Moldova,False,Win
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,UEFA Nations League,Vaduz,Liechtenstein,False,Lose
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,Kirin Cup,Suita,Japan,True,Lose
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,Kirin Cup,Suita,Japan,False,Lose
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,Friendly,Seoul,Korea Republic,False,Win

In [34]:
# Drop unecessary columns
Revised_df.drop(["city", "neutral_location", "home_team_total_fifa_points", "away_team_total_fifa_points"], axis=1, inplace=True)
Revised_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,tournament,country,home_team_result
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,FIFA World Cup qualification,Bolivia,Win
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,Friendly,Brazil,Draw
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,FIFA World Cup qualification,Ecuador,Win
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,Friendly,Guinea,Win
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,FIFA World Cup qualification,Paraguay,Lose
...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,UEFA Nations League,Moldova,Win
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,UEFA Nations League,Liechtenstein,Lose
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,Kirin Cup,Japan,Lose
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,Kirin Cup,Japan,Lose
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,Friendly,Korea Republic,Win

In [35]:
# Since the dates go back to 1930, I'm removing all dates up to 2000
Revised_dates_df = Revised_df[(Revised_df['date'] >= '2000-01-01')
                          & (Revised_df['date'] < '2022-08-22')]

Revised_dates_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,tournament,country,home_team_result
4113,2000-01-04,Egypt,Togo,Africa,Africa,38,87,Friendly,Egypt,Win
4114,2000-01-07,Tunisia,Togo,Africa,Africa,31,87,Friendly,Tunisia,Win
4115,2000-01-08,Trinidad and Tobago,Canada,South America,North America,44,81,Friendly,Trinidad and Tobago,Draw
4116,2000-01-09,Burkina Faso,Gabon,Africa,Africa,71,74,Friendly,Burkina Faso,Draw
4117,2000-01-09,Guatemala,Armenia,North America,Europe,73,85,Friendly,USA,Draw
...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,UEFA Nations League,Moldova,Win
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,UEFA Nations League,Liechtenstein,Lose
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,Kirin Cup,Japan,Lose
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,Kirin Cup,Japan,Lose
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,Friendly,Korea Republic,Win

In [36]:
# Drop all null values 'columns' from dataset
Revised_dates_df = Revised_dates_df.dropna(axis=1)
Revised_dates_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,tournament,country,home_team_result
4113,2000-01-04,Egypt,Togo,Africa,Africa,38,87,Friendly,Egypt,Win
4114,2000-01-07,Tunisia,Togo,Africa,Africa,31,87,Friendly,Tunisia,Win
4115,2000-01-08,Trinidad and Tobago,Canada,South America,North America,44,81,Friendly,Trinidad and Tobago,Draw
4116,2000-01-09,Burkina Faso,Gabon,Africa,Africa,71,74,Friendly,Burkina Faso,Draw
4117,2000-01-09,Guatemala,Armenia,North America,Europe,73,85,Friendly,USA,Draw
...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,UEFA Nations League,Moldova,Win
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,UEFA Nations League,Liechtenstein,Lose
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,Kirin Cup,Japan,Lose
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,Kirin Cup,Japan,Lose
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,Friendly,Korea Republic,Win

In [37]:
# Sort home ranking by ascending order 
Ranking_home_df = Revised_dates_df.sort_values(by='home_team_fifa_rank', ascending=True)
Ranking_home_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,tournament,country,home_team_result
9664,2006-06-13,Brazil,Croatia,South America,Europe,1,23,FIFA World Cup,Germany,Win
4783,2000-07-26,Brazil,Argentina,South America,South America,1,5,FIFA World Cup qualification,Brazil,Win
11819,2008-09-10,Spain,Armenia,Europe,Europe,1,98,FIFA World Cup qualification,Spain,Win
23038,2021-10-07,Belgium,France,Europe,Europe,1,4,UEFA Nations League,Italy,Lose
22751,2021-07-02,Belgium,Italy,Europe,Europe,1,7,UEFA Euro,Germany,Lose
...,...,...,...,...,...,...,...,...,...,...
23820,2022-06-09,San Marino,Iceland,Europe,Europe,211,63,Friendly,San Marino,Lose
23740,2022-06-05,San Marino,Malta,Europe,Europe,211,169,UEFA Nations League,San Marino,Lose
21033,2019-03-24,San Marino,Scotland,Europe,Europe,211,40,UEFA Euro qualification,San Marino,Lose
20818,2018-11-18,Turks and Caicos Islands,St. Vincent and the Grenadines,North America,North America,211,175,CONCACAF Nations League qualification,Turks and Caicos Islands,Win
21527,2019-09-09,San Marino,Cyprus,Europe,Europe,211,93,UEFA Euro qualification,San Marino,Lose

In [38]:
# Sort away ranking by ascending order
Ranking_away_df = Revised_dates_df.sort_values(by='away_team_fifa_rank', ascending=True)
Ranking_away_df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,tournament,country,home_team_result
15205,2012-08-15,Puerto Rico,Spain,North America,Europe,138,1,Friendly,Puerto Rico,Lose
16545,2013-11-19,South Africa,Spain,Africa,Europe,61,1,Friendly,South Africa,Win
22717,2021-06-21,Finland,Belgium,Europe,Europe,54,1,UEFA Euro,Russia,Lose
9499,2006-03-01,Russia,Brazil,Europe,South America,34,1,Friendly,Russia,Lose
15127,2012-06-18,Croatia,Spain,Europe,Europe,8,1,UEFA Euro,Poland,Lose
...,...,...,...,...,...,...,...,...,...,...
21205,2019-06-11,Kazakhstan,San Marino,Europe,Europe,116,211,UEFA Euro qualification,Kazakhstan,Win
20982,2019-03-21,Cyprus,San Marino,Europe,Europe,87,211,UEFA Euro qualification,Cyprus,Win
23874,2022-06-12,Malta,San Marino,Europe,Europe,169,211,UEFA Nations League,Malta,Win
21164,2019-06-08,Russia,San Marino,Europe,Europe,46,211,UEFA Euro qualification,Russia,Win
23682,2022-06-02,Estonia,San Marino,Europe,Europe,110,211,UEFA Nations League,Estonia,Win

In [39]:
from google.colab import drive

drive.mount('/content/drive')
path = '/content/drive/My Drive/Revised_International_Matches.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  Revised_df.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).